@model IEnumerable<MvcOnlineTicariOtomasyon1.Models.Siniflar.SinifGrup3>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Marka Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Marka</th>
                    <th>Progress Bar</th>
                    <th style="width: 40px">Adet</th>
                </tr>
            </thead>
            <tbody>
                @{int siraNo = 0;}
                @foreach (var _marka in Model)
                {
                    <tr>
                        <td>
                            @{ siraNo++;}@siraNo
                        </td>
                        <td>@_marka.marka</td>
                        <td>
                            @if (_marka.sayi >= 1 && _marka.sayi <= 2)
                            {

                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-primary" style="width: @(_marka.sayi * 20)%"></div>
                                </div>
                            }

                            @if (_marka.sayi >= 3 && _marka.sayi <= 4)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: @(_marka.sayi * 20)%"></div>
                                </div>
                            }

                            @if (_marka.sayi >= 5 && _marka.sayi <= 6)
                            {
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" style="width: @(_marka.sayi * 20)%"></div>
                                </div>
                            }
                        </td>
                        <td>
                            @if (_marka.sayi >= 1 && _marka.sayi <= 2)
                            {
                                <span class="badge bg-primary">@_marka.sayi</span>
                            }
                            @if (_marka.sayi >= 3 && _marka.sayi <= 4)
                            {
                                <span class="badge bg-warning">@_marka.sayi</span>
                            }
                            @if (_marka.sayi >= 5 && _marka.sayi <= 9)
                            {
                                <span class="badge bg-success">@_marka.sayi</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
