@model MvcOnlineTicariOtomasyon1.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelAdd";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<br />
<h3>Yeni Personel Ekle</h3>
<br />
@using (Html.BeginForm("PersonelAdd", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="form-group" method="post">
        @Html.LabelFor(p => p.PersonelAd)
        @Html.TextBoxFor(p => p.PersonelAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(p => p.PersonelSoyad)
        @Html.TextBoxFor(c => c.PersonelSoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(p => p.PersonelGorsel)
        @*@Html.TextBoxFor(p => p.PersonelGorsel, new { @class = "form-control" })*@
        <input type="file" name="PersonelGorsel" />
        <br />
        @Html.LabelFor(p => p.Departman)
        @Html.DropDownListFor(p => p.Departmanid, (List<SelectListItem>)ViewBag.departmanList1, //Kategorileri listeleme kısmı için kullandık.
            new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Kaydet</button>
    </form>
}
